.title {
	font-family: Playfair Display,  sans-serif;
	font-weight: 400;
	margin: 0.4em;
	letter-spacing: .8rem;
}

.sub-title {
	font-family: Playfair Display, sans-serif;
	font-weight: 100;
	margin: 0.4em;+
	letter-spacing: .3rem;
}

body {
	color: #fff;
	font-family: Poiret One, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a:hover {
	text-decoration: underline;
}
